* {
  overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-wrapper {
  width: 40%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  padding: 2em 0;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.01em grey;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
}

button {
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 200ms ease-in;
  box-shadow: 0.1em 0.1em 0.1em grey;
}

button:hover {
  box-shadow: 0.1em 0.1em 0.2em grey;
}
