.customer-list-container{
    flex: 1;
    padding: 1em;
   
}

.customer-list-container > h1{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customer-list-container > .customer-list{
    display: grid;
    gap: 1em;
}

.customer-list > .customer{
    padding: 1em;
    border-radius: .4em;
    box-shadow: .1em .1em .1em .1em rgb(210, 210, 210);
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    align-items: center;
    transition: .5s ease-in-out;
}

.customer-list > .customer:hover{
    transform: translateY(-.3em);
}

.customer-list > .customer > img{
    width: 5em;
    border-radius: 50%;
}