* {
  margin: 0;
}
.container {
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.body {
  width: 100%;
  margin: 3em auto;
  flex: 1;
}
