.profile{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profile > .first{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
}

.profile > .first > .image{
    width: 15em;
}
.profile > .first > .image > img{width: 100%;border-radius: 50%;}

.profile-info{
    display: grid;
    gap: 2em;
}
.profile-info > h3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-info > p{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.575);
}