#root {
  width: 100vw;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 700px;
}

.container > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 2em 0;
}

.form-container {
  width: 100%;
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

.form-container > .form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.form > button {
  max-height: 3em;
}

.task-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  box-shadow: 0.1em 0.1em 0.1em rgb(181, 181, 181);
  margin: 1em 0;
  border-radius: 0.5em;
  background-color: rgb(240, 240, 240);
  transition: 0.5s ease-in-out;
}
.task-container:hover {
  transform: translate(0, -0.5em) scale(102%);
}

.task-info {
  max-width: 60%;
  word-wrap: break-word;
}

@media screen and (max-width: 450px) {
  .task-info {
    max-width: 60%;
    word-wrap: break-word;
  }
}

.task-actions {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
