.navigation {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 600;
}
.logo-container {
  font-size: larger;
  cursor: pointer;
}
.logo-container > img {
  width: 4em;
  height: 4em;
  border-radius: 1em;
  object-fit: contain;
}

.navlinks {
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navlinks > p {
  cursor: pointer;
}

.profile-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
