.container {
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  margin: auto;
}

.product-list {
  width: 90%;
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

@media screen and (min-width: 600px) {
  .product-list {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.product {
  text-align: center;
  width: 15em;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.2em rgb(230, 230, 230);
}

.product-info {
  padding: 0.5em;
}

.product-page {
  width: 100%;
}
.product-page > .product {
  width: 90%;
  margin: auto;
  padding: 1em;
}

.product-image-wrapper {
  width: 90%;
  margin: auto;
}
.product-image-wrapper > img {
  width: 100%;
}
.product-description {
  padding: 1em 0;
}
.product-footer {
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

@media screen and (min-width: 600px) {
  .product-page > .product {
    width: 450px;
    margin: auto;
  }
  .product-footer {
    flex-direction: row;
  }
}
