.product-details-wrapper {
  padding: 2em;
  background-color: honeydew;
  border-radius: 1em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(228, 228, 228);
}
.left {
  margin: auto;
}

.left > h3 {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
}

.product-details-image {
  height: 20em;

  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(224, 224, 224);
}
